<figure class="text-center">
<% if notice %>
  <div class="alert alert-success alert-dismissable fade show" role="alert">
  <p style="color: green"><%= notice %>  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></p>
</div>
<% end %>
  <p class="topPadding"></p>
  <div class="container">
    <div class="card">
      <p class="slightTopPadding"></p>
      <%= render @project %>
    </div>
    <p class="topPadding"></p>
    <% if current_user %>
      <%= link_to "Edit this project", edit_project_path(@project), class:"btn btn-primary mb-3" %>
      <%= link_to "Back to projects", projects_path, class:"btn btn-primary mb-3" %>
      <%= button_to "Destroy this project", @project, method: :delete, class:"btn btn-danger mb-3" %>
    <% else %>
      <%= link_to "Back to projects", projects_path, class:"btn btn-primary mb-3" %>
    <% end %>
  </div>
</figure>
